<%= simple_form_for(@task) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%# f.input :user_id %>
    <%= f.input :public %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default btn-primary btn-block' %>
  </div>
<% end %>
