<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" >
      <h1>Listing Tasks</h1>
      <%= link_to 'New Task', new_task_path, class: "btn btn-default btn-primary btn-add-new-task" %>
        <ul class="list-group">
          <% @tasks.each do |t| %>
            <li class="list-group-item">
              <h3> <%= if t.public == true then fa_icon "user" else fa_icon "users" end%> <%= t.description %></h3>
              <%= link_to 'Edit', edit_task_path(t) if t.user_id == current_user.id  %> <%= '/' if t.user_id == current_user.id %>
              <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } if t.user_id == current_user.id  %>
            </li>
            <li class="list-group-item">
              <% if t.user_id == current_user.id %>
                  <%= simple_form_for @subtask, :html => { :class => 'form-inline' }, remote: true, validate:true  do |f| %>
                    <div class="form-group">
                       <%= f.input :description, label: false, class: 'form-control',  input_html: {id: "input_task_#{t.id}"}, required: true %>
                       <%= f.hidden_field :task_id, value: t.id %>
                    </div>
                    <button type="submit" class="btn btn-default">New Subtask</button>
                  <% end %><br>
              <% end %>
              <%= substask_get(t.id).length >= 0 ? "<ul id='task_#{t.id}' class='list-group'>".html_safe : ''  %>
              <% substask_get(t.id).each do |s| %>
                <li id="subtask_<%= s.id %>" class="list-group-item">
                  <%= s.description %>
                  <% if t.user_id == current_user.id %>
                    <%= link_to( edit_subtask_path(s)) do%>
                      <%= fa_icon "pencil-square"%>
                    <%end%>
                    <%= link_to(subtask_path(s), method: :delete, remote: true, data: { confirm: 'Are you sure?' }  ) do%>
                      <%= fa_icon "trash"%>
                    <%end%>
                  <% end %>
                </li>
               <% end %>
              <%= substask_get(t.id).length >= 0 ? ' </ul>'.html_safe : ''  %>
            <% end %>
        </ul>
    </div>
  </div>
</div> <br><br><br>

<% content_for :js do %>

<% end %>