<div class="form-signin">

  <div class="form-signin">

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <p>
    <strong>User owner:</strong>
    <%= @task.user_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= @task.public %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) %> <br>
  <%= link_to 'Back', tasks_path %>
  </div>
</div>