<%= simple_form_for(@subtask) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :task_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary btn-block' %>
  </div>
<% end %>
