$link_del = '<a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="<%=subtask_path(@subtask)%>">  <i class="fa fa-trash"></i> </a> ';
$link_edit = '<a href="<%=edit_subtask_path(@subtask)%>"> <i class="fa fa-pencil-square"></i></a> '
$li = '<li '+'id="subtask_<%= @subtask.id %>" class="list-group-item"> ' +'<%=@subtask.description%>'+ $link_edit + $link_del +'</li>';
$('#task_<%=@subtask.task_id%>').append($li);
$('#input_task_<%=@subtask.task_id %>').val('');


