<div class="form-signin">

  <h1>Editing Subtask</h1>

  <%= simple_form_for(@subtask) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :description %>
      <%#= f.input :task_father_id %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary btn-block' %>
    </div>
  <% end %>


  <%#= link_to 'Show', @subtask %>
  <%= link_to 'Back', tasks_path %>

</div>