<div class="form-signin">

  <p>
  <h1>Subtask Show</h1>
  <h2>Subtask: <%= @subtask.description %></h2>
  </p>



  <%#= link_to 'Edit', edit_subtask_path(@subtask) %>
  <%#= link_to 'Back', subtasks_path %>

</div>