<div class="form-signin">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%# f.error_notification %>
    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, class: 'form-control'%>
      <%= f.input :password, required: true, class: 'form-control' %>
      <%= f.input :remember_me, class: 'form-control', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-group">
      <%= f.button :submit, value:"Log in" , class: 'btn btn-default btn-primary btn-block' %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>