// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-2 {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.btn-add-new-task{
margin-bottom: 20px!important
}