
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to( "tasks to do", tasks_path, class: 'navbar-brand' )%>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to( "Tasks", tasks_path )%></li>
        <li><%= link_to( "New Task", new_task_path )%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to(edit_user_registration_path) do %>
            <%= fa_icon "user lg", text: "User Edit".html_safe %>
          <%end %>
        </li>
        <li><%= link_to(destroy_user_session_path, method: 'delete') do %>
            <%= fa_icon "sign-out lg", text: "Sign Out".html_safe %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
