<!DOCTYPE html>
<html lang="en">
<head>
  <title>TASK MANAGER - Avenue Code</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>

  <%= render 'layouts/messages' %>

  <%= yield %>

  <%= yield :js %>
</body>
</html>
